<%# Footer Component %>
<footer class="border-top">
  <div class="container-fluid px-4">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-2">
      <%# Copyright and Links %>
      <ul class="nav col-12 col-lg-auto mb-3 mb-lg-0">
        <li class="nav-item">
          <span class="footer-link">© 2025 Wanderlust, Inc.</span>
        </li>
        <li class="nav-item">
          <a href="/privacy" class="footer-link">Privacy</a>
        </li>
        <li class="nav-item">
          <a href="/terms" class="footer-link">Terms</a>
        </li>
        <li class="nav-item">
          <a href="/sitemap" class="footer-link">Sitemap</a>
        </li>
        <li class="nav-item">
          <a href="/company" class="footer-link">Company details</a>
        </li>
      </ul>

      <%# Social Media Icons %>
      <ul class="nav footer-social">
        <li class="nav-item">
          <a href="#" target="_blank" class="footer-link" aria-label="Facebook">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" target="_blank" class="footer-link" aria-label="Twitter">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" target="_blank" class="footer-link" aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
