/*******************************
 * FORMS & INPUTS
 *******************************/
/* Form Controls */
.form-control, .input-group {
    border-radius: 0.75rem;
    overflow: hidden;
}

.form-control {
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 0.75rem 1rem;
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.25rem rgba(179, 119, 47, 0.25);
}

.form-label {
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.input-group-text {
    background-color: var(--light-color);
    border: 1px solid rgba(0,0,0,0.1);
    color: var(--primary-color);
    border-right: none;
}

.input-group .form-control {
    border-left: none;
}

.input-group .form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    border-left: none;
}

.input-group:focus-within .input-group-text {
    border-color: #86b7fe;
}

#togglePassword {
    border-left: none;
    background-color: var(--light-color);
    color: var(--primary-color);
}

#togglePassword:hover {
    background-color: var(--light-color);
    color: var(--secondary-color);
}

/* Form Checkboxes */
.form-check-input:checked {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.form-check-label:hover, 
a.text-decoration-none.small:hover {
    color: var(--secondary-color);
} 